[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "deps/semver.c"]
	path = deps/semver.c
	url = https://github.com/h2non/semver.c.git
[submodule "deps/optional"]
	path = deps/optional
	url = https://github.com/TartanLlama/optional.git
[submodule "deps/crossguid"]
	path = deps/crossguid
	url = https://github.com/graeme-hill/crossguid.git
[submodule "deps/any"]
	path = deps/any
	url = https://github.com/thelink2012/any
[submodule "deps/variant"]
	path = deps/variant
	url = https://github.com/mpark/variant.git
