[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "deps/semver.c"]
	path = deps/semver.c
	url = https://github.com/h2non/semver.c.git
[submodule "deps/optional"]
	path = deps/optional
	url = https://github.com/TartanLlama/optional.git
