[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "deps/semver.c"]
	path = deps/semver.c
	url = https://github.com/h2non/semver.c.git
[submodule "deps/crossguid"]
	path = deps/crossguid
	url = https://github.com/alta-lang/crossguid.git
